body {
    color: #333333;
    font-family: 'SourceSans3';
    margin: 0;
}

a {
    text-decoration: none;
}

header, main {
    padding: 0 150px;
}

header{
    margin-bottom: 70px;
}

.header-info {
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.logo-link {
    padding: 15px;
    align-self: center;   
}

.contacts {
    display:flex;
    justify-content: end;
    gap: 50px;
}

.questions-contact, .email, .consultiong-contact, .phone {
    justify-self: right;
    font-size: 20px;
    margin: 0 0;
}

.email, .phone {
    color: #607CE6;
    font-size: 25px;
    font-family: 'SourceSans3SemiBold'; 
}

.email {
    text-decoration: underline;
}

.navigation {
    display: grid;
    grid-template-columns: 1fr 300px;
}

.navigation-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    flex-wrap: wrap;
}

.call{
    display:flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
}

.call-link{
    font-size: 20px;
    color: #607CE6;
    text-decoration: none;
}

.nav-item {
    text-decoration: none;
    list-style: none;
}

.navigation-link {
    display: block;
    text-decoration: none;
    color: #333333;
    font-size: 20px;
    padding: 5px;
}

h2 {
    font-family: 'SourceSans3Bold';
}

.main-section{
    margin-bottom: 80px;
}

.wrap-two-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 25px;
}

.intro .wrap-two-columns {
    margin-bottom: 40px;
    line-height: 1.2;
}

.intro img, .about img, .map img, .news img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

.intro-title {
    margin: 0;
    font-size: 80px;
}

.intro-label, .about-text {  
    font-size: 20px;
    margin:0;
}
.intro-label {
    padding-top: 35px;
    width: 450px;
}




.section-title {
    margin: 0;
    font-size: 65px;
    margin-bottom: 25px;
}

.about-text {
    margin-bottom: 30px;
}

.cards-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
    gap: 25px;
    margin: 0;
    margin-top: 30px;
    grid-auto-flow: dense;
    list-style: none;
    padding: 0;
}

.news .cards-list {
    grid-template-columns: 1fr 1fr 1fr;
}

.card {
    background-color: #F5F5F5;
    height: 520px;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
}

.products .card {
    padding: 30px;
}

.products .details-link {
    bottom: 40px;
    position: absolute;
    font-size: 25px;

    color: #607CE6;
}

.products .card-title {
    bottom: 50px;
    position: absolute;
    font-family: 'SourceSans3SemiBold';
    font-size: 37px;
}



.news .card-title {
    font-family: 'SourceSans3';
    font-size: 23px;
    padding: 0 30px;
    margin: 0;

    
}

.wrap {
    display: flex;

    justify-content: space-between;
    padding: 0 30px;
    align-items: end;
    margin-bottom: 15px;
}

.news .details-link {
    font-size: 18px;
    color: #607CE6;

}

.data {
    color: gray;
    font-size: 20px;
    margin: 0;

}


footer {
    background-color: #333333;
    color: white;
    padding: 0 150px;
 
}

.info {

    display: flex;
    justify-content: space-between;
    padding: 80px 0;
}

.links {
    display: flex;
    justify-content: end;
}

.links-list {
    list-style: none;
    margin: 0 30px;
    width: 200px;
}

.list-item{
    margin-bottom: 20px;

}

.footer-link {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family:  'SourceSans3';
}

.copyright {
    justify-self: center;
    padding-bottom: 20px;
}

@font-face {
    font-family: 'SourceSans3';
    src: url('fonts/SourceSans3-Regular.ttf') format('truetype'); 
}
@font-face {
    font-family: 'SourceSans3SemiBold';
    src: url('fonts/SourceSans3-SemiBold.ttf') format('truetype'); 
}
@font-face {
    font-family: 'SourceSans3Bold';
    src: url('fonts/SourceSans3-Bold.ttf') format('truetype'); 
}